<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=
        "width=device-width,
        initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="/scripts.js"></script>
</head>

<body>
    <ul class="post-list">
        <%  const groupedPosts = locals.posts;
            let shownPosts = 0;
            for (const postGroup of groupedPosts) {
                const post = postGroup[0]
                if (post.hidden) {
                    continue;
                } else if (++shownPosts > 100) {
                    break;
                } %>
        <li class="post" <%=post.hidden ? "hidden" : "" %> id="<%=post.url%>">
            <div class="post-overview">
                <span class="post-title"><%=post.title%> (<%=postGroup.length%>)</span>
                <!-- <span class="date"><%=new Date(post.date_posted).toLocaleString("en-US")%></span> -->
                <span class="date"><%=new Date(post.date_updated).toLocaleString("en-US")%></span>
                <span class="price grid-item"><%=post.currency === "USD" ? `$${post.price}` : `${post.price} ${post.currency}`%></span>
                <span class="location"><%=post.location%></span>
                <span>
                    <a href="<%=post.url%>"><img class="image" src="<%=JSON.parse(post.images)[0]%>"/></a>
                </span>
                <span>
                    <a class="delete" onclick="javascript:hidePost('<%=post.url%>')"></a>
                </span>
            </div>
        </li>
        <%}%>
    </ul>

</body>

</html>